@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Hide default cursor */
* {
  cursor: none;
}

/* Custom cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition:
    transform 0.1s ease-out,
    width 0.2s ease,
    height 0.2s ease,
    background 0.2s ease;
}


.cursor-hover .custom-cursor {
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.25);
}
